
.fa-toggle-on,
.fa-check-circle {
    color: #28a745;
}

.fa-check{
    color: #ccc;
}

.fa-times{
    color: #f66666;
}

.fa-search,.fa-bars {
    color: #FFF;
}

.fa-flip-horizontal {
    color: #CA4440;
}


.navbar {
    min-height: 50px; !important
    width: 100%
    margin-bottom: 0px;
    background: #1AB394;
}


#toggle_search::placeholder {
  color: #fff;
  font-size: 1.5em;
}

#toggle_search:focus::placeholder {
  color: transparent;
}

#toggle_search:focus {
  box-shadow:none;
  border: 0px;
}


.nav-link {
    color:#a7b1c2;
    font-weight:600;
    font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-link:hover {
   color:#fff;
}

#header {
    color: #1AB394;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}


body {
    overflow-x: hidden;
}


footer {
    color: #1ab394;
    align-self: end;
}


#sidebar-wrapper.toggled{
    width: 250px;
    padding-top: 5px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    margin-left: -250px;
    width: 0;
    height: 100%;
    overflow-y: auto;
    background: #2f4050;
}

#mytable_wrapper {
    padding-right: 0px;
    padding-left: 0px;
}


.button-bar > i {
    margin: 0 10px;
}

.week{
    font-family:monospace;
    font-weight:bold;
    padding:.25em;
    font-size:1.25em;
    color:#ccc;

}

.week-active{
    color:#28a745;
}



.dataTables_wrapper .fa-check-circle {
    color : #28a745;
    position: absolute;
}

.dataTables_wrapper .fa-circle {
    color : #999c9e;
    position: absolute;
}

.dataTables_wrapper .fa-circle:hover,
.dataTables_wrapper .fa-check-circle:hover {
    border: 1px dotted gray;
    border-radius: 50%;
    cursor: pointer;
}

.overlay {
    /* full screen */
    width: 100vw;
    height: 100vh;
   /* transparent black */
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    /* middle layer, appears below the navSide */
    z-index: 998;
}
